<%data.forEach(function(obj){%>
<tr id="<%=obj._id%>">
    <td><%=obj.mobile%></td>
    <td><%=obj.name%></td>
    <td><%=obj.email%></td>
    <td><%=obj.tel%></td>
    <td><%=obj.gender%></td>
    <td><%=new Date(obj.signUpDate).Format("yyyy-MM-dd")%></td>
    <td>
        <%if(obj.provider&&null!==obj.provider){%>
        <%=obj.provider.name%>
        <%}else{%>
        <%=""%>
        <%}%>
    </td>
    <td><%=obj.isEnable%></td>
</tr>
<%});%>