<div class="col-md-10">
    <%
    for(var m in data.priceData){ %>
    <div class="row"><%=data.priceData[m].yearMonth%></div>
    <div class="row">
        <div class="col-md-1 text-center">周一</div>
        <div class="col-md-1 text-center">周二</div>
        <div class="col-md-1 text-center">周三</div>
        <div class="col-md-1 text-center">周四</div>
        <div class="col-md-1 text-center">周五</div>
        <div class="col-md-1 text-center">周六</div>
        <div class="col-md-1 text-center">周日</div>
    </div>
    <% for(var i in data.priceData[m].days){
            if( i == 0 || ( parseInt(i) + parseInt(data.priceData[m].shift) ) % 6 == 1 ) { %>
    <div class="row">
        <%  } %>
        <%if( i == 0) { %>
        <div class="col-md-1 priceData col-md-offset-<%=data.priceData[m].shift%>" id="<%=data.priceData[m].days[i]._id%>">
            <% } else { %>
            <div class="col-md-1 priceData" id="<%=data.priceData[m].days[i]._id%>">
                <%}%>
                        <span><%=parseInt(i)+1%></span><br><br>
                        <%if(data.priceData[m].days[i].price==99999){%>

                        <%}else{%>
                              <%=data.priceData[m].days[i].cost%> / <%=data.priceData[m].days[i].price%>
                        <%}%>
            </div>
            <!--以下判断什么时候结束行尾，在第一行和最后一行的时候比较特殊，第一行要考虑到shif-->
            <%   if( (( parseInt(i) + parseInt(data.priceData[m].shift) +1 ) % 7 == 0 && i != 0 ) || i == data.priceData[m].days.length - 1 ) { %>
        </div>
        <%  }
        }
        };%>

    </div>
</div>