<%data.forEach(function(obj){%>
<tr id="<%=obj._id%>">
    <td><%=obj.mobile%></td>
    <td><%=obj.name%></td>
    <td><%=obj.email%></td>
    <td><%=obj.tel%></td>
    <td><%=obj.gender%></td>
    <td><%=obj.signupDate%></td>
    <td><%=obj.provider%></td>
    <td><%=obj.isEnable%></td>
</tr>
<%});%>